<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings><add name="SubrahmanyaTempleRennovation.Properties.Settings.TempleRennovationDBConnectionString" connectionString="Data Source=|DataDirectory|\TempleRennovationDB.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
  <add name="TempleRennovationDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\TempleRennovationDB.sdf&quot;" providerName="System.Data.EntityClient" /><add name="TempleRennovationDB" connectionString="metadata=res://*/RennovationDB.csdl|res://*/RennovationDB.ssdl|res://*/RennovationDB.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\TempleRennovationDB.sdf&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>